Administrateur/InterfaceMagasin/Service References/CategorieSuppression/CategorieSuppression2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.255.216:1337/CategorieSuppression.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://172.16.255.216:1337/CategorieSuppression.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkflowServices" />
  <xs:element name="SessionIDVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SessionID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionIDVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategorie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ParentGuid" type="q2:guid" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CategorieID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkflowServices" minOccurs="0" name="State" type="q4:ModifyCategorieDataState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>