trunk/Client/Client/Service References/WorkflowModification/AccountModification2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.255.216:1337/AccountModification.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://172.16.255.216:1337/AccountModification.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkflowServices" />
  <xs:element name="SessionIDVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SessionID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionIDVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAccountData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ville" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodePostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pays" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAccountDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkflowServices" minOccurs="0" name="ModificationState" type="q2:ModifyAccountDataState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>