WorkflowServices/WorkflowServices/Service References/Service/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.255.216:8082/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://172.16.255.216:8082/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SessionService" />
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="type" type="q4:UserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateSessionResult" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>