SessionService/SessionService/Service References/AddInCartVerificationItem/AddInCartVerificationItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3166/AddInCartVerificationItem.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:3166/AddInCartVerificationItem.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkflowServices" />
  <xs:element name="GetItemVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ItemID" type="q1:guid" />
        <xs:element minOccurs="0" name="Quantitie" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkflowServices" minOccurs="0" name="ItemState" type="q2:ItemState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>