Administrateur/InterfaceMagasin/Service References/FournisseurCreation/FournisseurCreation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FournisseurCreation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpContextBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <HttpUseCookie xmlns="http://schemas.xmlsoap.org/soap/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.255.216:1337/FournisseurCreation.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.255.216:1337/FournisseurCreation.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.255.216:1337/FournisseurCreation.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkflowServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SessionIDVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:SessionIDVerification" />
  </wsdl:message>
  <wsdl:message name="IService_SessionIDVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SessionIDVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateFournisseur_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFournisseur" />
  </wsdl:message>
  <wsdl:message name="IService_CreateFournisseur_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFournisseurResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GuidRequest_InputMessage" />
  <wsdl:message name="IService_GuidRequest_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q1:guid" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SessionIDVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SessionIDVerification" message="tns:IService_SessionIDVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SessionIDVerificationResponse" message="tns:IService_SessionIDVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFournisseur">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateFournisseur" message="tns:IService_CreateFournisseur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateFournisseurResponse" message="tns:IService_CreateFournisseur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuidRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GuidRequest" message="tns:IService_GuidRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GuidRequestResponse" message="tns:IService_GuidRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpContextBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpContextBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SessionIDVerification">
      <soap:operation soapAction="http://tempuri.org/IService/SessionIDVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFournisseur">
      <soap:operation soapAction="http://tempuri.org/IService/CreateFournisseur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuidRequest">
      <soap:operation soapAction="http://tempuri.org/IService/GuidRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FournisseurCreation">
    <wsdl:port name="BasicHttpContextBinding_IService" binding="tns:BasicHttpContextBinding_IService">
      <soap:address location="http://172.16.255.216:1337/FournisseurCreation.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>