Fournisseur/FournisseurTest/Service References/SessionService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.255.216:8082/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://172.16.255.216:8082/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SessionService" />
  <xs:element name="DisconnectClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemInCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemID" type="q5:guid" />
        <xs:element minOccurs="0" name="quantitie" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemInCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="AddItemInCartResult" type="q6:ItemState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemInCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemID" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemInCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveItemInCartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCartContentClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCartContentClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCartContentClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatUpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q10:guid" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correspondentID" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q12:ChatState" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatUpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChatUpdateClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemID" type="q13:guid" />
        <xs:element minOccurs="0" name="newQuantity" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q14:ItemState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderID" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectedClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatNotificationClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correspondentID" type="q16:guid" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q17:ChatState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectAdministrateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectAdministrateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectAdministrateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnectResult" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatUpdateAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q20:guid" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correspondentID" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q22:ChatState" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatUpdateAdministratorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChatUpdateAdministratorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategorieAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categorieID" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectedAdministrator">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatNotificationAdministrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correspondentID" type="q24:guid" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q25:ChatState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFournisseur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectFournisseurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectFournisseurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateFournisseur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q27:guid" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateFournisseurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateFournisseurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatUpdateFournisseur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correspondentID" type="q30:guid" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q31:ChatState" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatUpdateFournisseurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChatUpdateFournisseurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderID" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategorieNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="categorieID" type="q33:guid" />
        <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemID" type="q34:guid" />
        <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatNotificationFournisseur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="correspondentID" type="q35:guid" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="state" type="q36:ChatState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectedFournisseur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userID" type="q37:guid" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="type" type="q38:UserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateSessionResult" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="GetCartResult" nillable="true" type="q41:ArrayOfCartEntrie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetUserIDResult" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SessionService" minOccurs="0" name="GetSessionTypeResult" type="q45:UserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItemAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemID" type="q46:guid" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="available" type="xs:boolean" />
        <xs:element minOccurs="0" name="exist" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItemAvailabilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminProductModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemID" type="q47:guid" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fournisseurID" type="q48:guid" />
        <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminProductModificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCartContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q49:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCartContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCartContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>