trunk/WorkflowServices/WorkflowServices/Service References/Service/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SessionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SessionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ItemState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="UNAVAILABLE" />
      <xs:enumeration value="UNKNOW" />
      <xs:enumeration value="INSUFFICIENT" />
      <xs:enumeration value="NOT_VERIFIED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemState" nillable="true" type="tns:ItemState" />
  <xs:simpleType name="ChatState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MESSAGED" />
      <xs:enumeration value="CLOSED" />
      <xs:enumeration value="DISCONNECTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChatState" nillable="true" type="tns:ChatState" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATOR" />
      <xs:enumeration value="CLIENT" />
      <xs:enumeration value="FOURNISSEUR" />
      <xs:enumeration value="UNKNOW" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
</xs:schema>