Client/Client/Service References/WorkflowConnection/Connection2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.255.216:1337/Connection.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkflowServices" />
  <xs:import schemaLocation="http://172.16.255.216:1337/Connection.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetUserIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkflowServices" minOccurs="0" name="UserExist" type="q1:CheckIfUserExistResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkflowServices" minOccurs="0" name="PasswordMatch" type="q2:CheckIfPasswordMatchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuidRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SessionID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>